:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 10px;
    font-family: Outfit, sans-serif;
    background-color: var(--light-gray);
    box-sizing: border-box;
    position: relative;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 32rem;
    height: 49.7rem;
    padding: 1.6rem;
    background-color: var(--white);
    box-shadow: 0 2.5rem 2.5rem rgba(0, 0, 0, 0.056);
    border-radius: 2rem;
}

.card__qr-code {
    width: 100%;
    vertical-align: middle;
    border-radius: 1rem;
}

.card__header {
    min-height: 12.9rem;
}

.card__title{
    margin: 2.4rem auto 1.6rem;
    font-size: 2.22rem;
    font-weight: 700;
    color: var(--dark-blue);
    text-align: center;
    letter-spacing: 0.001rem;
}

.card__description {
    margin: auto 1.6rem;
    font-size: 1.542rem;
    color: var(--grayish-blue);
    text-align: center;
    letter-spacing: 0.001rem;
}

.attribution {
    position: absolute;
    bottom: 0;
    font-size: 1.35rem;
    color: hsl(220, 15%, 65%);
    text-align: center;
    margin-bottom: 1em;
}

.attribution a {
    color: var(--grayish-blue);
    transition: .2s;
    text-decoration: none;
}

.attribution a:hover {
    color: var(--dark-blue);
}

.attribution a:active {
    color: #b4b4b4;
}
